@import '../../styles/variables.css';

.textInput {
  composes: formControl from '../../styles/forms.css';
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.textInput:focus {
  border-color: var(--formControlFocusBorderColor);
}
