{
  "sourceMaps": "inline",
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 2% in US"],
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    [
      "css-modules-transform",
      {
        "generateScopedName": "[name]__[local]___[hash:base64:5]",
        "extractCss": "build/styles.css"
      }
    ]
  ]
}
