@import '../../styles/variables.css';
@import '../../styles/reset.css';

.btn {
  composes: formControl from '../../styles/forms.css';
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: color(var(--defaultButtonBackgroundColor) shade(10%));
  border-color: color(var(--baseBorderColor) shade(10%));
}

.btn:focus {
  box-shadow: 0 0 0 2px color(var(--defaultButtonBorderColor) alpha(50%));
}

.btnPrimary {
  composes: btn;
  color: white;
  background-color: var(--primaryButtonBackgroundColor);
  border-color: var(--primaryButtonBorderColor);
}

.btnPrimary:hover,
.btnPrimary:active {
  background-color: color(var(--primaryButtonBackgroundColor) shade(10%));
  border-color: color(var(--primaryButtonBorderColor) shade(10%));
}

.btnPrimary:focus {
  box-shadow: 0 0 0 2px color(var(--primaryButtonBorderColor) alpha(50%));
}

.btnInfo {
  composes: btn;
  color: white;
  background-color: var(--infoButtonBackgroundColor);
  border-color: var(--infoButtonBorderColor);
}

.btnInfo:hover,
.btnInfo:active {
  background-color: color(var(--infoButtonBackgroundColor) shade(10%));
  border-color: color(var(--infoButtonBorderColor) shade(10%));
}

.btnInfo:focus {
  box-shadow: 0 0 0 2px color(var(--infoButtonBorderColor) alpha(50%));
}

.btnSuccess {
  composes: btn;
  color: white;
  background-color: var(--successButtonBackgroundColor);
  border-color: var(--successButtonBorderColor);
}

.btnSuccess:hover,
.btnSuccess:active {
  background-color: color(var(--successButtonBackgroundColor) shade(10%));
  border-color: color(var(--successButtonBorderColor) shade(10%));
}

.btnSuccess:focus {
  box-shadow: 0 0 0 2px color(var(--successButtonBorderColor) alpha(50%));
}

.btnWarning {
  composes: btn;
  color: white;
  background-color: var(--warningButtonBackgroundColor);
  border-color: var(--warningButtonBorderColor);
}

.btnWarning:hover,
.btnWarning:active {
  background-color: color(var(--warningButtonBackgroundColor) shade(10%));
  border-color: color(var(--warningButtonBorderColor) shade(10%));
}

.btnWarning:focus {
  box-shadow: 0 0 0 2px color(var(--warningButtonBorderColor) alpha(50%));
}

.btnDanger {
  composes: btn;
  color: white;
  background-color: var(--dangerButtonBackgroundColor);
  border-color: var(--dangerButtonBorderColor);
}

.btnDanger:hover,
.btnDanger:active {
  background-color: color(var(--dangerButtonBackgroundColor) shade(10%));
  border-color: color(var(--dangerButtonBorderColor) shade(10%));
}

.btnDanger:focus {
  box-shadow: 0 0 0 2px color(var(--dangerButtonBorderColor) alpha(50%));
}
