@import '../../styles/variables.css';
@import '../../styles/reset.css';

.text {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.textPrimary {
  color: var(--primaryButtonBackgroundColor);
}

.textInfo {
  color: var(--infoButtonBackgroundColor);
}

.textSuccess {
  color: var(--successButtonBackgroundColor);
}

.textWarning {
  color: var(--warningButtonBackgroundColor);
}

.textDanger {
  color: var(--dangerButtonBackgroundColor);
}

.textSmall {
  font-size: 80%;
}

.textMuted {
  color: #636c72;
}
