@import './variables.css';

.formControl {
  background-color: white;
  border: var(--baseBorderWidth) solid var(--baseBorderColor);
  border-radius: var(--baseBorderRadius);
  font-size: var(--baseFontSize);
  line-height: var(--formControlLineHeight);
  padding: var(--formControlPaddingVertical) var(--formControlPaddingHorizontal);
}

.formControl:focus {
  outline: 0;
}
