@import './variables.css';

html {
  font-size: 10px;
}

body {
  font-size: var(--baseFontSize);
  color: var(--baseFontColor);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
