:root {
  --primaryColor: #0275d8;
  --successColor: #5cb85c;
  --infoColor: #5bc0de;
  --warningColor: #f0ad4e;
  --dangerColor: #d9534f;
  --baseFontSize: 1.6rem;
  --baseFontColor: #292B30;
  --baseBorderWidth: 0.1rem;
  --baseBorderColor: #bbb;
  --baseBorderRadius: 0.4rem;
  --formControlLineHeight: 1.25;
  --formControlFocusBorderColor: #66afe9;
  --formControlPaddingVertical: 0.8rem;
  --formControlPaddingHorizontal: 1.6rem;
  --defaultButtonBackgroundColor: white;
  --defaultButtonBorderColor: var(--baseBorderColor);
  --primaryButtonBackgroundColor: var(--primaryColor);
  --primaryButtonBorderColor: var(--primaryColor);
  --successButtonBackgroundColor: var(--successColor);
  --successButtonBorderColor: var(--successColor);
  --infoButtonBackgroundColor: var(--infoColor);
  --infoButtonBorderColor: var(--infoColor);
  --warningButtonBackgroundColor: var(--warningColor);
  --warningButtonBorderColor: var(--warningColor);
  --dangerButtonBackgroundColor: var(--dangerColor);
  --dangerButtonBorderColor: var(--dangerColor);
}
