.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.4rem;
}

.cardBlock {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 2rem;
}

.cardTitle {
  margin-bottom: 1.2rem;
}

.cardSubtitle {
  margin-top: -0.6rem;
  margin-bottom: 0;
}

.cardText:last-child {
  margin-bottom: 0;
}

.cardLink:hover {
  text-decoration: none;
}

.cardLink + .cardLink {
  margin-left: 2rem;
}

.card > .listGroup:first-child .listGroupItem:first-child {
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}

.card > .listGroup:last-child .listGroupItem:last-child {
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.cardHeader {
  padding: 1.2rem 2rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.cardHeader:first-child {
  border-radius: calc(0.4rem - 1px) calc(0.4rem - 1px) 0 0;
}

.cardFooter {
  padding: 1.2rem 2rem;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.cardFooter:last-child {
  border-radius: 0 0 calc(0.4rem - 1px) calc(0.4rem - 1px);
}

.cardHeaderTabs {
  margin-right: -1rem;
  margin-bottom: -1.2rem;
  margin-left: -1rem;
  border-bottom: 0;
}

.cardHeaderPills {
  margin-right: -1rem;
  margin-left: -1rem;
}

.cardPrimary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.cardPrimary .cardHeader,
.cardPrimary .cardFooter {
  background-color: transparent;
}

.cardSuccess {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.cardSuccess .cardHeader,
.cardSuccess .cardFooter {
  background-color: transparent;
}

.cardInfo {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.cardInfo .cardHeader,
.cardInfo .cardFooter {
  background-color: transparent;
}

.cardWarning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.cardWarning .cardHeader,
.cardWarning .cardFooter {
  background-color: transparent;
}

.cardDanger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.cardDanger .cardHeader,
.cardDanger .cardFooter {
  background-color: transparent;
}

.cardOutlinePrimary {
  background-color: transparent;
  border-color: #0275d8;
}

.cardOutlineSecondary {
  background-color: transparent;
  border-color: #ccc;
}

.cardOutlineInfo {
  background-color: transparent;
  border-color: #5bc0de;
}

.cardOutlineSuccess {
  background-color: transparent;
  border-color: #5cb85c;
}

.cardOutlineWarning {
  background-color: transparent;
  border-color: #f0ad4e;
}

.cardOutlineDanger {
  background-color: transparent;
  border-color: #d9534f;
}

.cardInverse {
  color: rgba(255, 255, 255, 0.65);
}

.cardInverse .cardHeader,
.cardInverse .cardFooter {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.cardInverse .cardHeader,
.cardInverse .cardFooter,
.cardInverse .cadTtitle,
.cardInverse .cardBlockquote {
  color: #fff;
}

.cardInverse .cardLink,
.cardInverse .cardText,
.cardInverse .cardSubtitle,
.cardInverse .cardBlockquote .blockquoteFooter {
  color: rgba(255, 255, 255, 0.65);
}

.cardInverse .cardLink:focus, .cardInverse .cardLink:hover {
  color: #fff;
}

.cardBlockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.cardImg {
  border-radius: calc(0.4rem - 1px);
}

.cardImgOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
}

.cardImgTop {
  border-top-right-radius: calc(0.4rem - 1px);
  border-top-left-radius: calc(0.4rem - 1px);
}

.cardImgBottom {
  border-bottom-right-radius: calc(0.4rem - 1px);
  border-bottom-left-radius: calc(0.4rem - 1px);
}

@media (min-width: 576px) {
  .cardDeck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .cardDeck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardDeck .card:not(:first-child) {
    margin-left: 15px;
  }
  .cardDeck .card:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 576px) {
  .cardGroup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .cardGroup .card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .cardGroup .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .cardGroup .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .cardGroup .card:first-child .cardImgTop {
    border-top-right-radius: 0;
  }
  .cardGroup .card:first-child .cardImgBottom {
    border-bottom-right-radius: 0;
  }
  .cardGroup .card:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .cardGroup .card:last-child .cardImgTop {
    border-top-left-radius: 0;
  }
  .cardGroup .card:last-child .cardImgBottom {
    border-bottom-left-radius: 0;
  }
  .cardGroup .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .cardGroup .card:not(:first-child):not(:last-child) .cardImgTop,
  .cardGroup .card:not(:first-child):not(:last-child) .cardImgBottom {
    border-radius: 0;
  }
}

@media (min-width: 576px) {
  .cardColumns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
  .cardColumns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.2rem;
  }
}

.textRight {
  text-align: right !important;
}

.textCenter {
  text-align: center !important;
}
