@import '../../styles/variables.css';

.navbar {
  background-color: #f7f7f7;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: .8rem 1.6rem;
}

.navbarToggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: .4rem 1.2rem;
  font-size: 2rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .4rem;
}

.navbarTogglerRight {
  position: absolute;
  right: 1rem;
}

.navbarTogglerIcon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbarBrand {
  display: inline-block;
  padding-top: .4rem;
  padding-bottom: .4rem;
  margin-right: 1.6rem;
  font-size: 2rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.navbarNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: auto;
}

.navbarNav .navLink {
  padding-right: 0;
  padding-left: 0;
}

/* Light Theme */

.navbarLight {
  background-color: #f7f7f7;
}

.navbarLight .navbarBrand,
.navbarLight .navbarToggler {
  color: rgba(0, 0, 0, 0.9);
}

.navbarLight .navbarBrand:focus,
.navbarLight .navbarBrand:hover,
.navbarLight .navbarToggler:focus,
.navbarLight .navbarToggler:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbarLight .navbarNav .navLink {
  color: rgba(0, 0, 0, 0.5);
}

.navbarLight .navbarNav .navLink:focus,
.navbarLight .navbarNav .navLink:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbarLight .navbarNav .navLink.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbarLight .navbarNav .open > .navLink,
.navbarLight .navbarNav .active > .navLink,
.navbarLight .navbarNav .navLink.open,
.navbarLight .navbarNav .navLink.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbarLight .navbarToggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbarLight .navbarTogglerIcon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbarLight .navbarText {
  color: rgba(0, 0, 0, 0.5);
}

/* Inverse Theme */

.navbarInverse {
  background-color: #292b2c;
}

.navbarInverse .navbarBrand,
.navbarInverse .navbarToggler {
  color: white;
}

.navbarInverse .navbarBrand:focus,
.navbarInverse .navbarBrand:hover,
.navbarInverse .navbarToggler:focus,
.navbarInverse .navbarToggler:hover {
  color: white;
}

.navbarInverse .navbarNav .navLink {
  color: rgba(255, 255, 255, 0.5);
}

.navbarInverse .navbarNav .navLink:focus,
.navbarInverse .navbarNav .navLink:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbarInverse .navbarNav .navLink.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbarInverse .navbarNav .open > .navLink,
.navbarInverse .navbarNav .active > .navLink,
.navbarInverse .navbarNav .navLink.open,
.navbarInverse .navbarNav .navLink.active {
  color: white;
}

.navbarInverse .navbarToggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbarInverse .navbarTogglerIcon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbarInverse .navbarText {
  color: rgba(255, 255, 255, 0.5);
}

/* Media Queries */

@media (max-width: 575px) {
  .navbarToggleable .navbarNav .dropdownMenu {
    position: static;
    float: none;
  }
  .navbarToggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (--small-viewport) {
  .navbarToggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbarToggleable .navbarNav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbarToggleable .navbarNav .navLink {
    padding-right: .8rem;
    padding-left: .8rem;
  }
  .navbarToggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbarToggleable .navbarCollapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbarToggleable .navbarToggler {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbarToggleableSmall .navbarNav .dropdownMenu {
    position: static;
    float: none;
  }
  .navbarToggleableSmall > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (--medium-viewport) {
  .navbarToggleableSmall {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbarToggleableSmall .navbarNav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbarToggleableSmall .navbarNav .navLink {
    padding-right: .8rem;
    padding-left: .8rem;
  }
  .navbarToggleableSmall > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbarToggleableSmall .navbarCollapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbarToggleableSmall .navbarToggler {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbarToggleableMedium .navbarNav .dropdownMenu {
    position: static;
    float: none;
  }
  .navbarToggleableMedium > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (--large-viewport) {
  .navbarToggleableMedium {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbarToggleableMedium .navbarNav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbarToggleableMedium .navbarNav .navLink {
    padding-right: .8rem;
    padding-left: .8rem;
  }
  .navbarToggleableMedium > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbarToggleableMedium .navbarCollapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbarToggleableMedium .navbarToggler {
    display: none;
  }
}

@media (--xlarge-viewport) {
  .navbarToggleableLarge {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbarToggleableLarge .navbarNav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbarToggleableLarge .navbarNav .navLink {
    padding-right: .8rem;
    padding-left: .8rem;
  }
  .navbarToggleableLarge > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbarToggleableLarge .navbarCollapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbarToggleableLarge .navbarToggler {
    display: none;
  }
}
