@import '../../styles/variables.css';

.jumbotron {
  padding: 3.2rem 1.6rem;
  margin-bottom: 3.2rem;
  background-color: #eceeef;
  border-radius: .3rem;
}

@media (--small-viewport) {
  .jumbotron {
    padding: 6.4rem 3.2rem;
  }
}
